<footer th:fragment="footerlogin" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">
        @ 2023 <span>Spring Boot</span>
    </p>
    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        Spring Boot Project
    </a>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Beranda</a></li>
        <li class="nav-item"><a href="/divition-list/" class="nav-link px-2 text-muted">Divisi</a></li>
        <li class="nav-item"><a href="/admin/scholar-list/" class="nav-link px-2 text-muted">Mahasiswa PUB</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link px-2 text-muted">Logout</a></li>
    </ul>
</footer>
<!-- when is login -->
<footer th:fragment="footernologin" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">
        @ 2023 <span>Spring Boot</span>
    </p>
    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        Spring Boot Project
    </a>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Beranda</a></li>
        <li class="nav-item"><a href="/divition-list/" class="nav-link px-2 text-muted">Divisi</a></li>
        <li class="nav-item"><a href="/admin/scholar-list/" class="nav-link px-2 text-muted">Mahasiswa PUB</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="/login/" class="nav-link px-2 text-muted">Login</a></li>
    </ul>
</footer>