<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
    <title th:text="#{app.name}"></title>

</head>

<body>
    <header th:replace="~{fragments/common :: header}"></header>
    <main class="container-fluid">
        <form th:action="@{/save}" method="post">

            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">KODE BUKU</label>
                <input type="text" class="form-control form-control-sm" th:field="${add.code}" required>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Kode Buku Harus Unik Dan Tidak Boleh Sama Satu Sama Lainnya
                  </small>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">NAMA BUKU</label>
                <input type="text" class="form-control form-control-sm" th:field="${add.name}" required>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">GENRE</label>
                <input type="text" class="form-control form-control-sm" th:field="${add.genres}">
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">DESKRIPSI</label>
                <input type="text" class="form-control form-control-sm" th:field="${add.description}">
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">TAHUN RILIS</label>
                <input type="text" class="form-control form-control-sm" th:field="${add.ryear}" required>
            </div>
            <div class="form-group row">
                <input type="submit" value="Simpan" class="btn btn-outline-primary">
            </div>
        </form>
    </main>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <footer th:replace="~{fragments/common :: footer}"></footer>
</body>

</html>