<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
    <title th:text="#{app.name}"></title>
</head>

<body>
    <!-- <div th:replace="~{ fragments/common :: (${user.isAdmin}? #{header.admin} : #{header.normaluser}) }"></div> -->
    <header th:insert="~{fragments/header_page :: (${isLogin}) ? headerlogin : headernologin}"></header>
    <main class="container-fluid">
        <div class="banner mx-auto">
            anggap ini banner
        </div>
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama Divisi</th>
                    <th>Keterangan</th>
                    <th>Jumlah Anggota</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Divisi Pendidikan Dan Pelatihan</td>
                    <td>Kosong</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Divisi Pendidikan Dan Pelatihan Bahasa Inggris</td>
                    <td>Kosong</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Divisi Kerohanian</td>
                    <td>Kosong</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Divisi Kesejahteraan</td>
                    <td>Kosong</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Divisi Keasramaan</td>
                    <td>Kosong</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Divisi Kesehatan</td>
                    <td>Kosong</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Divisi Kebersihan</td>
                    <td>Kosong</td>
                    <td>9</td>
                </tr>
            </tbody>
        </table>
    </main>
    <div th:replace="~{fragments/common :: script}"></div>
    <footer th:replace="~{fragments/footer_page :: (${isLogin}) ? footerlogin : footernologin}"></footer>
</body>

</html>