<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
    <title th:text="#{app.name}"></title>

</head>

<body>
    <header th:replace="~{fragments/common :: header}"></header>
    <main class="container-fluid">

        <form th:action="@{/saveUpdate}" method="post">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">

                    <input type="hidden" th:field="${update.id}">
                    <input type="text" class="form-control" th:value="${update.id}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">NIM</label>
                <div class="col-sm-10">

                    <input type="text" class="form-control" th:field="${update.nim}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">NAMA MAHASISWA</label>
                <div class="col-sm-10">

                    <input type="text" class="form-control" th:field="${update.name}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">ALAMAT</label>
                <div class="col-sm-10">

                    <input type="text" class="form-control" th:field="${update.address}">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">DESKRIPSI</label>
                <div class="col-sm-10">

                    <input type="text" class="form-control" th:field="${update.description}">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">TAHUN MASUK</label>
                <div class="col-sm-10">

                    <input type="text" class="form-control" th:field="${update.ryear}" required>
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn-outline-primary" value="Simpan">
            </div>
        </form>
    </main>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <footer th:replace="~{fragments/common :: footer}"></footer>
</body>

</html>